<div id="introContainer">
<%= render partial: 'channels/intro', locals: { channel: channel } %>
</div>

<% begin %>
  <%= video_tag(File.basename(channel.q.currently_playing.file_path), controls: false, autobuffer: true) %>
<% rescue %>
  <%= video_tag('', controls: false, autobuffer: true) %>
<% end -%>

