<script>
//clearInterval(youokeInterval);
$(function() {
var step = 4, // colorChage step, use negative value to change direction
    ms   = 20,  // loop every
    $uni = $('.rainbow'),
    txt  = $uni.text(),
    len  = txt.length,
    lev  = 360/len,
    newCont = "",
    youokeInterval;

for(var i=0; i<len; i++)newCont += "<span style='color:hsla("+ i*lev +", 100%, 50%, 1)'>"+ txt.charAt(i) +"</span>";

$uni.html(newCont); // Replace with new content
var $ch = $uni.find('span'); // character

function anim(){
  youokeInterval = setInterval(function(){
    $ch.each(function(){
      var h = +$(this).attr('style').split(',')[0].split('(')[1]-step % 360;
      $(this).attr({style:"color:hsla("+ h +", 100%, 50%, 1)"});
    });
  }, ms); 
}

anim();
  
});

</script>



<div class="container center-align">
<h1><span class="rainbow">youoke</span></h1>
<br>
<br>

<%= form_for User.new, url: session_path, class: 'col s12' do |f| %>
  <div class="row">
    <div class="input-field col s9 m10">
      <%= f.text_field :name, class: 'validate' %>
      <label for="name" class="text-grey">wutz yr internet handle?</label>
    </div>

    <div class="input-field col s2 m2">
      <button class="btn waves-effect waves-light grey btn-block" type="submit" name="commit">
        <i class="material-icons black-text">sentiment_very_satisfied</i>
      </button>
    </div>
  </div>
<% end %>
</div>
