---
# empty front matter
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>YOUOKE</title>
  <meta name="description" content="YOUOKE on GitHub">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<h1>YOUOKE :microphone:</h1>

<div>
	<h2>Download</h2>

	<p>Latest release {{ site.github.latest_release.tag_name }} ({{ site.github.latest_release.published_at }})</p>

	{% for asset in site.github.latest_release.assets %}
	  <div> <a href="{{ asset.browser_download_url }}" title="{{ asset.browser_download_url }}">{{ asset.name }}</a></div>
	{% endfor %}
</div>

<div>
	<h2>All Releases</h2>

	{% for release in site.github.releases %}
		<div>
			<b>{{ release.tag_name }} ({{ release.published_at }})</b>

			{% for asset in release.assets %}
		  <div> <a href="{{ asset.browser_download_url }}" title="{{ asset.browser_download_url }}">{{ asset.name }}</a></div>
			{% endfor %}

		</div>
	{% endfor %}


</div>

</body>
</html>
