<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger black" href="#<%= id %>">Preview</a>

<!-- Modal Structure -->
<div id="<%= id %>" class="modal">
 <div class="modal-content">
   <div class="video-container">
    <iframe width="1102" height="620" src="https://www.youtube.com/embed/<%= id %>?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
   </div>
 </div>
 <div class="modal-footer">
   <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
 </div>
</div>