.room-heading {
  text-decoration: underline;
  text-decoration-thickness: 0.25em;
}
input {
  background-color: white;
  color: blue;
  border: none;
  height: 60px;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 0;
}

.q-singer {
  border-bottom: 5px solid white;
}

.search-q,
.flex,
.flex-responsive {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.search-q .list-btn {
  width: 30px;
}
.search-q-input {
  width: calc(100% - 60px);
}

.search-results li {
  word-break: break-word;
  margin-bottom: 0.5em;
}

.search-results .img-container {
  min-width: 120px;
  margin-right: 10px;
}

#search-results-container {
  padding-top: 50px;
}

@media (max-width: 500px) {
  #search-results-container {
    margin-left: -50px;
  }

  #search-results-container h3 {
    font-size: 0.75em;
  }
  .q-item-title {
    margin-left: -50px;
    line-height: 1.5em;
    text-align: center;
  }
  .search-results {
    line-height: 1.5em;
  }
  .search-results .img-container {
    margin-right: 0;
  }
  .yt-results li {
    margin-bottom: 1.5em;
  }
  .flex-responsive {
    flex-direction: column;
  }
}
