/* You can add global styles to this file, and also import other style files */

html, body{
	margin: 0;
	padding: 0;
}

body{
	background: black;
	color: white;
}

.large-icon{font-size:40px!important; height:35px!important; width:35px!important;}

.flexfill {
	flex: 1 1 auto;
}
