@font-face {
    font-family: 'VCR OSD Mono';
    src: local('VCROSDMono'), url('VCROSDMono.woff2') format('woff2'),
        url('VCROSDMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
