<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    *ngIf="!toolbarHidden"
    #leftNav
    [opened]="leftNavOpened"
    class="playlist-nav"
    fixedInViewport="true"
    role="dialog"
    mode="side">
    <mat-toolbar color="primary" class="sticky-toolbar">
      <mat-form-field id="playlist-select">
        <mat-select (selectionChange)="playlistSelectionChange($event)" [(ngModel)]="selectedPlaylistId" placeholder="Playlists">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let playlist of playlists" [value]="playlist.id">{{playlist.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="!showNewPlayList" mat-icon-button (click)="addNewPlaylist()" matTooltip="New Playlist"><mat-icon>playlist_add</mat-icon></button>
    </mat-toolbar>
    <app-playlist></app-playlist>
  </mat-sidenav>
  <mat-sidenav 
    *ngIf="!toolbarHidden"
    #rightNav
    [opened]="rightNavOpened"
    class="qnav"
    mode="side" 
    position="end">
    <mat-toolbar color="primary" id="q-toolbar">Queue <a mat-icon-button routerLink="/player" target="_blank" matTooltip="Open player in new window"><mat-icon>open_in_new</mat-icon></a></mat-toolbar>
    <div>
      <app-video-player [controls]="true"></app-video-player>
      <app-queue></app-queue>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="!toolbarHidden" color="primary">
      <button
        type="button"
        aria-label="Toggle Playlists"
        matTooltip="Toggle Playlists"
        mat-icon-button
        (click)="leftNavToggle()">
        <mat-icon *ngIf="leftNavOpened" aria-label="playlist">chevron_left</mat-icon>
        <mat-icon *ngIf="!leftNavOpened" aria-label="playlist">clear_all</mat-icon>
      </button>
      <span class="flexfill">&nbsp;</span>
      <span><a routerLink="/dashboard" class="base">YOUOKE</a></span>
      <span class="flexfill">&nbsp;</span>
      <button mat-icon-button routerLink="/settings" routerLinkActive="active" matTooltip="Settings"><mat-icon>settings</mat-icon></button>
      <!-- <button mat-icon-button matTooltip="User"><mat-icon>account_circle</mat-icon></button> -->

      <span class="btn-spacing">&nbsp;</span>
      <button
        type="button"
        aria-label="Toggle Queue"
        matTooltip="Toggle Queue"
        mat-icon-button
        (click)="rightNavToggle()">
        <mat-icon *ngIf="rightNavOpened"aria-label="q">queue_play_next</mat-icon>
        <mat-icon *ngIf="!rightNavOpened" aria-label="q" class="mirror">queue_play_next</mat-icon>
      </button>
    </mat-toolbar>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
