mat-spinner{
	margin: 15% auto;
}

.sidenav-container {
  min-height: 100vh;
}
.qnav {
  width: 350px;
  overflow: hidden;
  position: fixed;
}

.playlist-nav{
	width: 200px;
	direction: rtl;
}
.playlist-nav *{
	direction: ltr;
}

#main-content{
	/*padding: 0 1em 1em 1em;*/
}

.sticky-toolbar{
	position: sticky;
	top: 0;
	z-index: 1;
}

#playlist-select{
	font-size: 12px;
	width: 140px!important;
}

.btn-spacing{
	width: 2em;
}

#q-toolbar{
	display: flex;
	justify-content: space-around;
}

.base{
	text-decoration: none;
}
.base:hover{
	text-decoration: underline;
}

#preview-video-player{
	height: 260px;
}

app-video-player{
	position: sticky;
	top: 86px;
}
