// Place all the styles related to the Examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

a,a:visited {
  color: #ccc;
}
a:hover{
  color: #ff6600;
}

video,#intro {
  position: absolute;
  top: 0;
  left: 0;
  height:100vh;
  width: 80vw;
}
.rainbow-text {                                                                                                                                                                           
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear,  left top,  left bottom, 
      color-stop(0.00, red), 
      color-stop(16%, orange),
      color-stop(32%, yellow),
      color-stop(48%, green),
      color-stop(60%, blue),
      color-stop(76%, indigo),
      color-stop(1.00, violet));
}

#into{
  z-index: 666;
  padding: 2em;
  background-color: rgba(0,0,0,0.5);
}

.channel-user{
  position:absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 1.5em;

  margin: auto;
  overflow: hidden;
}

#qs {
  position:absolute;
  top: 1.5em;
  right: 0;
  width: 20vw;
  height: 80vh;
  margin: auto;
  overflow: hidden;
}

#channelContent {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 20vh;

  margin: auto;
  overflow: hidden;
}

#comments {
  position: absolute;
  bottom: 0;
  width: 100vw;
  max-height: 10vh;

  margin: auto;
  overflow: hidden;
}

hr {
  border: thin solid rgba(255,255,255,0.3);
}

#new_comment {
  display: none;
}

.leftCol{
  width: 80vw;
}

form {
  background-color: rgba(255,255,255,0.1)!important;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
}

form#new_q {
  border-radius: 0;
}

.collection, .collection-item {
  border: thin solid rgba(255,255,255,0.3) !important;
}

.collection-item {
  padding-right: 80px !important;

}

.hidden {
  display: none;
}

.modal {
  max-height: 100% !important; 
}
.modal, .modal-footer {
  background-color: rgba(0,0,0,0.7) !important;
}

.btn-block {
  display:block;
  width: 100%;
}

input {
  border-bottom: 1px solid #ff6600!important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: gray;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #ff6600;
 box-shadow: 0 1px 0 0 #ff6600;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #ff6600;
 box-shadow: 0 1px 0 0 #ff6600;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 red;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #ff6600;
 box-shadow: 0 1px 0 0 #ff6600;
}



/* this is annoying */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}