@import '~@angular/material/theming';
@include mat-core();

// Light theme
$light-primary: mat-palette($mat-pink, A200, A100, A400);
$light-accent:  mat-palette($mat-grey, A700);

// The warn palette is optional (defaults to red).
$light-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.light-theme {
  @include angular-material-theme($light-theme);
  a{color: black;}
  #q-ctrl, .playlist-nav, mat-sidenav, .mat-drawer {background-color: white}
}

// Dark Theme
$dark-primary: mat-palette($mat-pink, A200, A100, A400);
$dark-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dark-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);

.dark-theme{
  @include angular-material-theme($dark-theme);
  a{color: white;}
  #q-ctrl, .playlist-nav, mat-sidenav, .mat-drawer, app-queue { background-color: black}
}

[mat-button]:hover, [mat-icon-button]:hover, .mat-tab-label:hover{
  color: #ff4081!important;
}
