/* You can add global styles to this file, and also import other style files */

body { 
	margin: 0; 
	font-family: sans-serif;
}

h1{
	letter-spacing: 1px;
}

.flex{
	display: flex;
}
.inlineflex{
	display: inline-flex;
}
.flexfill {
	flex: 1 1 auto;
}
.mirror {
	transform: scale(-1, 1);
}
