/* You can add global styles to this file, and also import other style files */

body { margin: 0; background-color: white;}

.flex{
	display: flex;
}
.inlineflex{
	display: inline-flex;
}
.flexfill {
	flex: 1 1 auto;
}
